@use '../../scss/' as *;

.detail {
  display: flex;
  margin-top: 3rem;

  .image-film {
    display: block;
    & > img {
      width: 500px;
      height: 600px;
      border: 2px solid white;
      padding: 5px;
    }
  }
  .detail-film {
    padding-left: 3rem;
    display: block;
    width: 100%;
    & > h3 {
      font-size: 30px;
      font-weight: normal;
      line-height: 30px;
      // margin-bottom: 2rem;
    }
    & > hr {
      margin: 3rem 0 1rem 0;
      color: white;
    }
    .detail-item {
      letter-spacing: 1px;
      font-size: 18px;
      & > p {
        margin-bottom: 5px;
      }
      label {
        font-weight: bold;
        margin-right: 5px;
        // font-size: 100px;
      }
    }
  }
}
