@use '../../scss/' as *;

button {
  cursor: pointer;
  font-family: $font-family;
}

.btn-swiper {
  text-decoration: none;
  background-color: $main-color;
  border: none;
  color: $white;
  padding: 10px 15px;
  font-size: 1.5rem;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
